<a class="uk-button uk-button-primary" href="#modal-sections" uk-toggle>Add</a>
<div id="modal-sections" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Add Post</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-stacked"
                action="/posts/add" method="POST">
                <label style="display:none;" class="uk-form-label"
                    for="form-stacked-text">Title</label>
                <div class="uk-form-controls">
                    <input required class="uk-input" type="text" name="title"
                        id="title"
                        placeholder="Give it a title!">
                </div>
                <label style="display:none;" class="uk-form-label"
                    for="form-stacked-text">Content</label>
                <div class="uk-form-controls uk-margin">

                    <textarea required name="content"
                        id="content" class="uk-textarea" rows="5"
                        placeholder="And a decription..."></textarea>


                </div>

                <div class="uk-modal-margin uk-text-center">
                    <button class="uk-button uk-button-primary"
                        type="submit">Save</button>
                </div>
            </form>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>

    </div>
</div>