<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/posts">Secret Post App</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-nav">
            <li><a href="/users">profile</a></li>
        </div>
        <div class="uk-navbar-item">
            <form action="/auth/logout" method="POST">
                <button class="uk-button uk-button-danger">Logout</button>
            </form>
        </div>
    </div>
</nav>