{{> navbar}}
<div class="uk-container uk-margin">
    <h1>Log In</h1>
    <form action="/auth/login" class="uk-grid-small"
        uk-grid method="post">
        <div class="uk-width-1-1">
            <input name="username" class="uk-input" type="text"
                placeholder="Username">
        </div>
        <div class="uk-width-1-1">
            <input name="password" class="uk-input" type="password"
                placeholder="******">
            <button class="uk-margin uk-button uk-button-primary">Login</button>
        </div>
    </form>
</div>
