{{>userNavbar}}
<div class="uk-section uk-section-overlap uk-section-default uk-preserve-color">
    <div class="uk-container">
        <div class="uk-text-lead">
            {{onePost.title}}
        </div>
        <p class="uk-text-meta">
            {{onePost.content}}
        </p>
        <a href="/posts">Back</a>

    </div>